.layout-cards {
    flex: 1;
    // border: 1px solid white;
    background-color: black;
    border-radius: 5px;
    h5{
        color: white;
        margin: 0;
        text-align: center;
        height: 40px;
        transform: translateY(25%);
    }
}


